/*! urutora.css v0.0.3 | (c) Gustavo Lara | MIT Licensed https://opensource.org/licenses/MIT */
/*! Theme: Moss */

/* Navigation table:
*/
table.ut-nav-table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Sans-serif", Times, serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table.ut-nav-table td.ut-nav {
	border-radius: 4px;
	cursor: pointer;
	height: 20px;
	width: auto;
	text-align: center;
	color: #A0A0A0;
	padding-left: 10px;
	padding-right: 10px;
}

table.ut-nav-table td.ut-nav:hover {
	color: #5E6637;
}

table.ut-nav-table td.ut-page-td {
	border-radius: 4px;
	cursor: default;
	background-color: #5E6637;
	text-align: center;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
}

/* Optional table styling:
*/
table[ut-table=true] {
	width: 100%;
	font-family: "Sans-serif", Times, serif;
	font-size: 14px;
	border-spacing: 0px;
    border-collapse: separate;
}

table[ut-table=true] thead tr:first-child th:first-child {
	border-top-left-radius: 4px;
}

table[ut-table=true] thead th {
	background-color: #5E6637;
	color: #FFFFFF;
	padding: 5px;
}

table[ut-table=true] thead tr:first-child th:last-child {
	border-top-right-radius: 4px;
}

table[ut-table=true] tbody td {
	color: #5E6637;
	padding: 5px;
}

table[ut-table=true] tbody tr.ut-even-row {
	background-color: #E6EEC2;
}

/* Other components:
*/
.ut-search-input {
	width: 200;
	height: 15px;
	margin-bottom: 5px;
	background-color: #FFFFFF;
	border-radius: 4px;
	padding: 4px;
}

.ut-no-results-row {
	display: none;
	padding: 10px;
	text-align: center;
	color: #5E6637;
}
